mixin my-card-links(title, imgsrc, text, links)
    .my-card
        .rounded-img-padding
            .rounded-img-host(style="background-image:url(" + imgsrc + ")")
        .card-block
            .card-title
                h4
                    em=title

            for block, i in text
                .card-text=block
                if(i !== text.length - 1)
                    hr
            .card-footer
                for link in links
                    .card-footer-link
                        a(href=link.href)=link.name