extends layout
block title
	| Experience
block content
	.wrap-cards
		.column
			+my-card('Copernicus Science Centre',
			'/assets/csc.png',
			['I was commissioned to conduct a module for teachers on assisting youth in realising technological projects.'])
		.column
			+my-card('Nicolaus Copernicus University',
			'/assets/umk.png',
			['I created the back- and front-end for a website that assisted the University of Nicolaus Copernicus in a metascience study.'])
		.column
			+my-card('Optize',
			'/assets/optize.png',
			['I spent one summer as a fullstack development intern at Optize sp. z o.o., where my duties included maintaining a large codebase and delivering clear and readable code for various smaller projects.'])
