extends layout
block title
    | About
block content
    .wrap-cards
        .column
            +my-card("Brian Camacho",
            '/assets/biran1.jpg',
            "I'm a web developer with a passion for creating. Currently studying Computer Science at the University of York.")
